[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
pyqt6 = "*"
sqlalchemy = "*"
pymysql = "*"
jinja2 = "*"
tabulate = "*"
scipy = "*"
scikit-posthocs = "*"
statannotations = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
